node_red.json
[{"id":"478c38e7.eff5b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b6216a6.20bada","type":"ui_group","z":"","name":"Machine Learning Model","tab":"ae29db85.e15d98","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae29db85.e15d98","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"fdcf1eb7.d0b52","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d85612ba.62e41","type":"ui_form","z":"478c38e7.eff5b8","name":"","label":"","group":"2b6216a6.20bada","order":2,"width":0,"height":0,"options":[{"label":"BMI","value":"a","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"b","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"c","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"d","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Country","value":"g","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"h","type":"number","required":true,"rows":null},{"label":"GDB","value":"i","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"j","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"k","type":"number","required":true,"rows":null},{"label":"Measles","value":"l","type":"number","required":true,"rows":null},{"label":"Polio","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Schooling","value":"o","type":"number","required":true,"rows":null},{"label":"Status","value":"p","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"q","type":"number","required":true,"rows":null},{"label":"Year","value":"r","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"s","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"t","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["dabee359.a763f"]]},{"id":"dabee359.a763f","type":"function","z":"478c38e7.eff5b8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n//following are required to receive a token\nvar apikey=\"hf1NApEsP3Q5wryuyTvhKnB_F3y8ryYdWUSoYr70BIeo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["5747a136.c414a"]]},{"id":"77ae08eb.164288","type":"http request","z":"478c38e7.eff5b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/975cbb97-5fa6-4c30-a8d1-f3ad1a3cfe96/deployments/c4b399ad-1a4d-4ccb-a03a-dfa3075f2c5d/online","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["3e1c6f78.e9d7c"]]},{"id":"f5a1dcb1.6d214","type":"debug","z":"478c38e7.eff5b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":240,"wires":[]},{"id":"3e1c6f78.e9d7c","type":"function","z":"478c38e7.eff5b8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["f5a1dcb1.6d214","613f4988.fc3958"]]},{"id":"f2560673.e54ac8","type":"function","z":"478c38e7.eff5b8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"975cbb97-5fa6-4c30-a8d1-f3ad1a3cfe96\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"BMI\", \"HIV/AIDS\", \"thinness  1-19 years\", \"thinness 5-9 years\",\n       \"Adult Mortality\", \"Alcohol\", \"Country\", \"Diphtheria\", \"GDP\",\n       \"Hepatitis B\", \"Income composition of resources\", \"Measles\", \"Polio\",\n       \"Population\", \"Schooling\", \"Status\", \"Total expenditure\", \"Year\",\n       \"infant deaths\", \"percentage expenditure\", \"under-five deaths \"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["77ae08eb.164288"]]},{"id":"5747a136.c414a","type":"http request","z":"478c38e7.eff5b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["f2560673.e54ac8"]]},{"id":"613f4988.fc3958","type":"ui_text","z":"478c38e7.eff5b8","group":"2b6216a6.20bada","order":1,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-left","x":920,"y":360,"wires":[]}]